# Supabase (URL del Proyecto y Llave Pública Anónima para el Frontend)
VITE_SUPABASE_URL="https://tu-proyecto.supabase.co"
VITE_SUPABASE_ANON_KEY="tu_anon_key_publica_aqui"

# URL base del Backend Node.js Local
VITE_BACKEND_URL="http://localhost:3001"
